/** Breakpoints */
$bp-tablet: 768px;
$bp-desktop: 992px;
$bp-large-desktop: 1200px;

$padding: 15px;

/** Colours */
$jumbo-bg-color: #eee;
$font-color: rgba(60,67,85, 1);
$font-color-light: rgba(60,67,85, 0.4);
$header-color: rgba(115, 190, 198, 1);
$link-color: rgba(211,90,76,1);
