<header class="site-header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-nav">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div id="main-nav" class="collapse navbar-collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a title="Home" href="/">Home</a>
					</li>
					<li class="dropdown">
						<a title="<i class=&quot;fa fa-gamepad&quot; aria-hidden=&quot;true&quot;></i> Games" href="#" data-toggle="dropdown" class="dropdown-toggle" aria-haspopup="true"><i class="fa fa-gamepad" aria-hidden="true"></i> Games <span class="caret"></span></a>
						<ul role="menu" class=" dropdown-menu">
							<li>
								<a title="<i class=&quot;fa fa-space-shuttle&quot; aria-hidden=&quot;true&quot;></i> Meteors" target="_blank" href="http://play.idevgames.co.uk/game/meteors/"><i class="fa fa-space-shuttle" aria-hidden="true"></i> Meteors</a>
							</li>
						</ul>
					</li>
					<li>
						<a title="<i class=&quot;fa fa-star&quot; aria-hidden=&quot;true&quot;></i> About" href="/about/"><i class="fa fa-star" aria-hidden="true"></i> About</a>
					</li>
				</ul>
			</div>                           
		</div>

	</nav>
	<div class="jumbotron">


		<div class="container">
			<div class="page-title  text-center">
				<h1><a href="/"><img src="/img/logo.png" alt="No Dime" scale="0"></a></h1>
				<p style="display: none;">Something about developing games</p>
			</div>			
				</div>
			</div>	
		</header>