<nav>
	<div class="container">
		<ul>
			<li {% if page.file == 'index' %} class="active" {% endif %}>
				<a title="Home" href="/">Home</a>
			</li>
			<li {% if page.file == 'about' %} class="active" {% endif %}>
				<a href="/about.html">About</a>
			</li>
			<!-- <li {% if page.file == 'index' %} class="active" {% endif %}>
				<a href="/html5-games.html">HTML5 Games</a>
			</li> -->
			<li {% if page.file == 'blog' %} class="active" {% endif %}>
				<a href="/blog.html">Blog</a>
			</li>
			<!-- <li {% if page.file == 'contact' %} class="active" {% endif %}>
				<a href="/contact.html">Contact</a>
			</li> -->
		</ul>
	</div>
</nav>