.title {
	color: $font-color;
	font-family: 'robotoblack', Arial, sans-serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
}

h2.title {
	position: relative;
	padding-bottom: $padding;
	margin-bottom: 20px;
	
	&:after {
		content: "";
	    display: block;
	    position: absolute;
	    bottom: 0;
	    height: 0;
	    width: 60px;
	    border-bottom: 2px solid $link-color;
	}
}

